    <!-- opening hours section start -->
    <div class="opening_section layout_padding">
      <div class="container">
        <h1 class="ballet_text">opening Hours</h1>
        <p class="amet_text">amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
        <div class="opening_section_2 layout_padding">
          <div class="time_line">
            <p class="hiphop_text">Hip Hop Dance :</p>
            <hr class="border_0">
            <p class="hiphop_text">07:00am - 21:00am</p>
          </div>
          <div class="time_line">
            <p class="hiphop_text">Ballet :</p>
            <hr class="border_0">
            <p class="hiphop_text">09:00pm - 21:00pm</p>
          </div>
          <div class="time_line">
            <p class="hiphop_text">Break Dance :</p>
            <hr class="border_0">
            <p class="hiphop_text">18:00am - 24:00pm</p>
          </div>
          <div class="time_line">
            <p class="hiphop_text">Salsa :</p>
            <hr class="border_0">
            <p class="hiphop_text">18:00pm - 22:00am</p>
          </div>
          <div class="time_line">
            <p class="hiphop_text">Tab Dancing :</p>
            <hr class="border_0">
            <p class="hiphop_text">19:00am - 23:00am</p>
          </div>
        </div>
      </div>
    </div>
    <!-- opening hours section end -->
