<link rel="stylesheet" type="text/css" href="/assets/Front-office/css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="/assets/Front-office/css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="/assets/Front-office/css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="/assets/Front-office/images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="/assets/Front-office/css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets -->
<link rel="stylesheet" href="/assets/Front-office/css/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/Front-office/css/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

<app-header></app-header>
<br><br>
<router-outlet></router-outlet>
<br><br><br>
<app-footer></app-footer>

<script src="/assets/Front-office/js/jquery.min.js"></script>
<script src="/assets/Front-office/js/popper.min.js"></script>
<script src="/assets/Front-office/js/bootstrap.bundle.min.js"></script>
<script src="/assets/Front-office/js/jquery-3.0.0.min.js"></script>
<script src="/assets/Front-office/js/plugin.js"></script>
<!-- sidebar -->
<script src="/assets/Front-office/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/assets/Front-office/js/custom.js"></script>
<!-- javascript -->
<script src="/assets/Front-office/js/owl.carousel.js"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
