    <!-- Students section start -->
    <div class="Students_section layout_padding">
      <div class="container-fluid">
        <h1 class="welcome_text">Welcome New Students!</h1>
        <p class="singh_text">Sign up now to receive a 25-minute taster lesson - completely free!</p>
        <div class="click_bt"><a href="#">Click To Sigup</a></div>
        <div class="classes_section">
          <h1 class="classes_text">Classes</h1>
          <div class="dance_main">
            <div class="row">
              <div class="col-sm-3">
                <div class="box active">Dancing</div>
                <div class="box">People</div>
              </div>
              <div class="col-sm-3">
                <div class="box">Man</div>
                <div class="box">Girls</div>
              </div>
              <div class="col-sm-3">
                <div class="box">Dancer</div>
                <div class="box">Ballte Dancing</div>
              </div>
              <div class="col-sm-3 padding_0">
                <div class="image_2"></div>
              </div>
            </div>
          </div>
          <div class="readmore_bt"><a href="#">Read More</a></div>
        </div>
      </div>
    </div>
    <!-- Students section end -->
