   <!-- shortcode section start -->
   <div class="shortcode_section layout_padding">
    <div class="container">
      <h1 class="ballet_text">SHORTCODE</h1>
      <p class="amet_text">amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
      <div class="shortcode_section_2">
        <div class="shortcode_left">
          <h1 class="heading_text">Heading 1</h1>
          <p class="tempor_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoconsectetur adipiscing </p>
        </div>
        <div class="shortcode_right"><img src="/assets/Front-office/images/img-3.png"></div>
      </div>
      <div class="shortcode_section_2">
        <div class="shortcode_right"><img src="/assets/Front-office/images/img-4.png"></div>
        <div class="shortcode_left border_left_0">
          <h1 class="heading_text_1">Heading 2</h1>
          <p class="tempor_text_1">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoconsectetur adipiscing </p>
        </div>
      </div>
      <div class="shortcode_section_2">
        <div class="shortcode_left">
          <h1 class="heading_text">Heading 3</h1>
          <p class="tempor_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoconsectetur adipiscing </p>
        </div>
        <div class="shortcode_right"><img src="/assets/Front-office/images/img-5.png"></div>
      </div>
    </div>
  </div>
  <!-- shortcode section end -->
