<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card border-primary">
        <div class="card-header bg-primary text-white">
          <h3>{{msg}}</h3>
        </div>
        <div class="card-body">
          <label for="exampleFormControlInput1" class="form-label">Title</label>
          <input type="text" class="form-control mb-3" id="exampleFormControlInput1" [(ngModel)]="post.title" [ngModelOptions]="{standalone: true}" placeholder="Enter your title">

          <label for="postContent" class="form-label">Post Content</label>
          <textarea class="form-control mb-3" [(ngModel)]="post.postContent" [ngModelOptions]="{standalone: true}" id="postContent" rows="3"></textarea>

          <label for="imageUpload" class="form-label">Image</label>
          <input type="file" class="form-control mb-3" id="imageUpload" (change)="onImageSelected($event)" accept="image/*">

          <button type="submit" class="btn btn-primary" (click)="ajouterPost()" [disabled]="user.ban == 1">Ajouter</button>
          <button type="button" class="btn btn-danger" (click)="buttonRetour()">Retour</button>
        </div>
      </div>
    </div>
  </div>
</div>
